<link rel="stylesheet" href="/lib/wGrid/wGrid.css" type="text/css"/> 
<script type="module" src="/lib/wGrid/wGrid.js"></script>
<script type="module" src="/script/system/menu.js"></script>

<div class="content">
    <div class="area">
        <div class="sub-title">
            <span class="text">■ 상위 메뉴</span>
            <div class="button-box">
                <button id="btnTopAdd">추가</button>
                <button id="btnTopEdit">편집</button>
                <button id="btnTopRemove">삭제</button>
                <button id="btnTopCancel">취소</button>
                <button id="btnTopSave" class="warning">저장</button>
            </div>
        </div>
        <div id="topMenu"></div>
    </div>
    <div class="area">
        <div class="sub-title">
            <span class="text">■ 하위 메뉴</span>
            <div class="button-box">
                <button id="btnSubAdd">추가</button>
                <button id="btnSubEdit">편집</button>
                <button id="btnSubRemove">삭제</button>
                <button id="btnSubCancel">취소</button>
                <button id="btnSubSave" class="warning">저장</button>
            </div>
        </div>
        <div id="subMenu"></div>
    </div>
</div>