<link rel="stylesheet" href="/lib/wGrid/wGrid.css" type="text/css"/> 
<script type="module" src="/lib/wGrid/wGrid.js"></script>
<script type="module" src="/script/system/user.js"></script>

<div class="content">
    <div class="area">
        <div class="sub-title">
            <span class="text">■ 사용자 관리</span>
        </div>
        <div class="search-box">
            <table>
                <colgroup>
                    <col width="8%">
                    <col width="58%">
                    <col width="8%">
                    <col width="10%">
                    <col width="8%">
                    <col width="8%">
                </colgroup>
                <tr>
                    <th>검색</th>
                    <td>
                        <div class="search-input">
                            <select id="sbSrhType">
                                <option value="">전체</option>
                                <option value="userNo">사용자번호</option>
                                <option value="userId">사용자아이디</option>
                            </select>
                            <input id="iptSrhWord" type="text" autocomplete="off">
                        </div>
                    </td>
                    <th>권한</th>
                    <td>
                        <div class="search-input">
                            <select id="sbAuth">
                                <option value="">전체</option>
                            </select>
                        </div>
                    </td>
                    
                    <th>페이지 수</th>
                    <td>
                        <div class="search-input">
                            <select id="sbPageSize" class="w100p">
                                <option value="20" selected>20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <button id="btnRefresh">새로고침</button>
                            <button id="btnSearch" class="search">조회</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="content">
    <div id="userList"></div>
</div>